* {
    margin: 0px;
    padding: 0px;
}
.princi {
    width: 30%;
	background: #b0d0ff;
	padding: 35px;
	margin: auto;
	margin-top: 50px;
	border-radius: 10px;
	font-family: 'josephsophia';
	color: white;
    text-align: center;
    justify-content: center;
	background-size: 100%;
}

.princi h4 {
    font-family: 'josephsophia';
    font-size: 40px;
}

h6 {
	font-family: 'josephsophia';
    font-size: 30px;
	text-decoration: none;
	margin-top: 15px;

}

.Titulo{

	grid-column-start: 1;
	grid-column-end: 5;
	background-size: 100%;
	background-color: #05817d;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'josephsophia';
	color: white;
	font-size: 40px;
}

.boton
{
	width: 103%;
	font-family: 'Arial Rounded MT Bold';
	font-size: 20px;
	padding: 10px;
	margin-top: 15px;
	background: #33f896;
	color: white;
	border: 2px solid #D7BDE2;

}

.boton2
{
	width: 103%;
	font-family: 'Arial Rounded MT Bold';
	font-size: 20px;
	padding: 10px;
	margin-top: 15px;
	background: #1eddff;
	color: white;
	border: 2px solid #D7BDE2;

}

.cap {
	justify-content: center;
	display: flex;
	text-align: center;
	margin-bottom: 20px;
}

body
{
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	background-size: 100%;
}

img.imagen {
	 width: 30px;
	 border: 0px;
	 position: relative;
	 top:5px;
}

img.imagen2 {
    width: 30px;
    border: 0px;
    position: relative;
    top:5px;
}

input.campos {
	width: 80%;
	padding: 2%;
	border-radius: 5px;
	background: #b0d0ff;
	bottom: 4px;
	font-family: 'Times New Roman';
	font-size: 15px;
	color: white;
	text-decoration-color: white;
	text-align: center;
	position: relative;
}

input.campos2 {
	width: 60%;
	padding: 2%;
	border-radius: 5px;
	background: #b0d0ff;
	bottom: 4px;
	font-family: 'Times New Roman';
	font-size: 15px;
	color: white;
	text-decoration-color: white;
	text-align: center;
	position: relative;
	margin-left: 40px;
}

.malo {
	background-color: #ff0000;
	text-align: center;
	width: 100%;
	padding: 12px;
	color: #fff;
}

.boton3
{
	text-shadow: 2px 1px 3px #666666;
	-webkit-box-shadow: 0px 1px 6px #666666;
	-moz-box-shadow: 0px 1px 6px #666666;
	box-shadow: 0px 1px 6px #666666;
	font-family: Arial;
	color: #ffffff;
	font-size: 23px;
	background: #00ffd5;
	padding: 10px 20px 10px 20px;
	border: solid #abdfff 2px;
	text-decoration: none;
	margin-top: 30px;
	margin-bottom: 15px;
}

.boton2
{
	text-shadow: 2px 1px 3px #666666;
	-webkit-box-shadow: 0px 1px 6px #666666;
	-moz-box-shadow: 0px 1px 6px #666666;
	box-shadow: 0px 1px 6px #666666;
	font-family: Arial;
	color: #ffffff;
	font-size: 23px;
	background: #0084ff;
	padding: 10px 20px 10px 20px;
	border: solid #abdfff 2px;
	text-decoration: none;
}